<div class="container">
    <div class="top"> 
        <%= link_to "Oferece serviço psicológico ou psiquiátrico? Clique aqui para cadastrar sua clínica e aparecer para mais clientes!", new_welcome_url  %>
    </div>

    <h1>Encontre ajuda perto de você!</h1>

    <%= form_with(url: "/geo",method: "post") do |form| %>
        <p>
            <%= form.label :endereco_atual %>
            <%= form.text_field :endereco_atual %>
        </p>
        <p>
            <%#= form.submit "limpar", :type => "reset" %>
            <%= form.submit :Encontrar , class: 'center'%> 
        </p>
    <% end %>

    <table>
    <% @clinicas.each do |c| %>
        <tr class="container">
            <td class="name"><%= c.name %></td>
            <td class="address"><%= c.address %></td>
        </tr>
        <br>
    <% end %>
    </table>

    <div id="map" data-test-env="<%= Rails.env.test? %>"></div>

    <script>
        function initMap() {
            var x = localStorage.getItem('coordenadaAtual')                         
            var coordenadaAtual= x ? JSON.parse(x) : null

            var latLng = null
            if (coordenadaAtual){
                latLng= new google.maps.LatLng(coordenadaAtual[0],coordenadaAtual[1])
            }   
            var coordEACH = {lat:-23.4823919, lng:-46.5004498}

            window.map = new google.maps.Map(document.getElementById('map'), {zoom: 16, center: latLng ? latLng :coordEACH});  
            var mapa = document.getElementById('map');
            var opt = !(mapa.getAttribute('data-test-env')); 

            new google.maps.Marker({
                position: coordEACH,
                map,
                animation: google.maps.Animation.DROP,
                icon: { url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png" }
            });
            //a propriedade optmized eh setada como false para ambiente de testes
            //cria o marker como elemento unico na DOM        

            <% @clinicas.each do |c| %>
            var lat = <%= c.latitude %>;
            var longitude = <%= c.longitude %>;
            var marker = new google.maps.Marker({
                position: {lat:  <%= c.latitude %>, lng:  <%= c.longitude %>},
                map: map,
                optimized: !opt
                });
            <% end %>
        }                
    </script>

    <script defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_API_KEY']%>&callback=initMap">
    </script>
</div>
