
<div class="container">

    <div class="top"> 
    <img src="public/saude-mental(1).png">
  
    <button>LOGIN</button>
    </div>

    <h1>Encontre ajuda perto de você!</h1>

    <table>
    <% @clinicas.each do |c| %>
        <tr class="container">
            <td class="name"><%= c.name %></td>
            <td class="address"><%= c.address %></td>
        </tr>
        <br>
    <% end %>
    </table>

    <%= link_to "Cadastrar nova clinica", new_welcome_url  %>  


    <p class="mapa"><%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&markers=size:small%7Ccolor:red%7C51.501564,-0.141944&key=#{ENV['MAPS_API_KEY']}", alt: "Map" %>
    </p>
    <div id="map"></div>


    <script>
        // Initialize and add the map
        function initMap() {
        var sp = {lat:  -23.5505199, lng: -46.63330939999999};
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 10, center: sp});
        
        }
    </script>
    <script defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_API_KEY']%>&callback=initMap">
    </script>


</div>



